body{
	padding-top: 30px;
}
.wrapper{
	width: 100%;
	position: relative;
}
.search{
	width: 1280px;
	margin: 0 auto;
}
#searchInterface{
	margin-left: 350px;
}
#searchLine{
	padding: 8px;
	font-size: 18px;
	width: 500px;
	border: none;
	border: 1px solid black;
	border-radius: 15px;
	outline: none;
}

#search, #add, #clear{
	background-image: url("images/search.png");
	width: 40px;
	height: 40px;
	padding: 0px;
	display: inline-block;
	background-size: contain;
	background-color: white;
	border: none;
	border: 1px solid black;
	border-radius: 50%;
	cursor: pointer;
	outline: none;
}
#add{
	background-image: url("images/add.png");
}
#clear{
	background-image: url("images/clear.png");
}
#search:hover, #add:hover{
	background-color: #8fcda2;
}
#searchRequest{
	width: 500px;
	margin-left: 350px;
	padding: 5px;
}
#searchOffers{
	width: 500px;
	margin-left: 350px;
	padding: 5px;
}
p{
	width: 500px;
	margin-left: 350px;
	font: 13.3px Arial;
	margin-top: 3px;
}
.offer{
	background-color: white;
	border: none;
	border: 1px solid black;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	margin-right: 3px;
}
.offer:hover, .chooseOffer{
	background-color:  #8fcda2;
}
#choose{
	background-color: #e8f3f6;
	border: none;
	border: 1px solid black;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	margin-right: 3px;
}
#post{
	width: 600px;
	margin-left: 350px;
	border: 1px solid #e0e0e0;
	margin-bottom: 15px;
	padding: 10px;
	border-radius: 6px;
}
.postTitle, .postText, .postTags{
	margin: 0px;
	width: 600px;
}
img{
	width: 70%;
	margin-left: 80px;
}